.footer {
	// position: fixed;
	color:white;
    // left: 0;
    // bottom: 0;
    // width: 100%;
    text-align: center;
    background-color: #212529; //#343a40; // was #53565b 
    // padding: 20px;
    height: 100px;
    color: #6c757d;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -100px;
    padding-bottom: 100px;
}

html, body {
    height: 100%;
}


// Top right dropdown
.navbar-nav ul {
    position: relative; /* containing block for positioning */
    display: inline; /* to fix IE's doubled float-margin bug */
    float: right;
    list-style: none;
    padding: 0;
    margin:0 20px 0 0;
}
.navbar-nav li:hover ul.last, #nav li.sfhover ul.last {
    left: auto;
    right: 4px; /* you might want to change this */
}